{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include 'header.html' %}
<div class="center-div">
    <h1>Task: {{ task_name }}</h1>
    {% if subtask_name %}
    <h2>Subtask: {{ subtask_name }}</h2>
    {% endif %}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    {% if subtask_name %}
    {{ ckeditor.load(pkg_type="basic") }}
    {{ ckeditor.config(name='subtask_details') }}
    {% endif %}
</div>

{% include 'footer.html' %}
{% endblock %}